
:root {
    --primary: #0056D2;
    --primary--100: rgb(0 86 210 / 85%);
    --secondary: #000000;
    --secondary--100: #0173f0;
}

.btn-primary {
    --hover: var(--primary--100);
    background-color: var(--primary);
    border-color: var(--primary) var(--primary) var(--primary--100);
    color: var(--primary-inverse);
}

.btn-dark {
    --hover: var(--dark--200);
    background-color: var(--dark);
    border-color: var(--dark) var(--dark) var(--dark-300);
    color: var(--dark-inverse);
}


@media (min-width: 1200px) {
    .container:not(.container-bs):not(.container-xl-custom):not(.container-xxl-custom) {
        max-width: 1200px;
    }
}

#header {
    transition: all 0.3s ease;
}


#header.header-effect-shrink .header-logo {
    margin: 0;
}

#header .header-nav-main ul > li.dropdown > a {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #444444;
    padding: 35px 14.4px 35px 14.4px !important;
}

@media(max-width: 992px){
    #header .header-nav-main ul > li.dropdown > a{
        padding: 15px 14.4px 15px 14.4px !important;    
    }
}

#header .header-nav-main ul.header-extra-info{
    font-family: Poppins, sans-serif;
}

#header .header-nav-features:before, #header .header-nav-features:after {
    background: rgba(0, 0, 0, 0.03);
    content: none;
    width: 1px;
    height: 35px;
    position: absolute;
    display: block;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    left: 0;
}

#header .header-nav-features .nav-header-nav-top-icon{
    font-size: 22px;
}

#header .header-nav-features {
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
    padding-top: 10px;
}

#header .header-nav-features .header-nav-features-dropdown{
    pointer-events: auto;
}

.featured-boxes-modern-style-2 .featured-box .box-content{
    padding: 15px !important;
}

#header {
    position: sticky !important;
    top: 0 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;  
    z-index: 1000 !important;
    transition: all 0.3s;
}

#header .header-logo img{
    width: 140px !important;
    padding: 15px;
}


#header.is-sticky .header-logo img{
    width: 100px !important;
}

#header.is-sticky .header-nav-main ul > li.dropdown > a{
    padding: 24px 14.4px 24px 14.4px !important;
}
@media(max-width: 767px){
    #header .header-logo img,#header.is-sticky .header-logo img{
        width: 200px !important;
    }
    .home-about-us .image-container img:nth-child(1),.home-about-us .image-container img:nth-child(2){
        display: none !important;
    }
}

#header.header-effect-shrink .header-container{
    transition: all 0.3s;
}
#header.header-effect-shrink.is-sticky .header-container{
    min-height: 75px !important;
}

.nav.nav-pills .dropdown-menu a:hover,
.nav.nav-pills .dropdown-menu a:focus,
.nav.nav-pills .dropdown-menu a.active{
    background-color: #f8f9fa !important;
}

@media (max-width: 992px) {
    .nav.nav-pills .dropdown-menu a:hover,
    .nav.nav-pills .dropdown-menu a:focus,
    .nav.nav-pills .dropdown-menu a.active{
        background-color: #f8f9fa !important;
        color: black;
    }
}

.featured-boxes-modern-style-2 .featured-box .box-content{
    min-height: 340px !important;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}
.featured-boxes-modern-style-2 .featured-box .box-content h2{
    padding-top: 20px !important;
}

.section.products{
    background: none;
    padding: 20px 0;
}
.section.products .featured-boxes-modern-style-2 .featured-box:before{
    background: var(--grey-100);
}
.section.products .featured-boxes-modern-style-2-hover-only:not(:hover) .featured-box-no-borders{
    background: var(--grey-100);
}
.section.products .featured-boxes-modern-style-2 .featured-box .box-content{
    min-height: 290px !important;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

.home-intro{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    background-color: #ffffff !important;
}

.home-intro h2{
    font-weight: 700;
    color: var(--primary--100);;
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -1.4px;
}

.home-intro .contact-btn{
    font-size: 14px !important;
    font-weight: 700 !important;
    padding: 1.3132rem 2.4rem !important;
    animation-delay: 1500ms !important;
    background-color: var(--primary);
    border-color: var(--primary) var(--primary) var(--primary--100);
    color: var(--primary-inverse);
    border-radius: 12px !important;
}


.home-intro .contact-btn:hover, 
.home-intro .contact-btn:focus, 
.home-intro .contact-btn:active {
    background-color: var(--primary--100); !important;
    border-color: var(--primary--100); !important;
    color: #ffffff !important;
}


ul.zr-categories li a.nav-link:hover,
ul.zr-categories li a.nav-link:active,
ul.zr-categories li a.nav-link:focus,
ul.zr-categories li a.nav-link.active {
    color: var(--primary--100);
    font-weight: 400 !important;
}

form .error{
    color: #f53030;
}